// Ресурсы приложения: иконка и сведения о версии.
// VER_MAJOR/VER_MINOR/VER_PATCH/VER_STR подставляет build.rs из version в Cargo.toml,
// чтобы номер версии жил в одном месте.
// windows.h здесь не нужен: FILEOS/FILETYPE заданы числами
// (VOS_NT_WINDOWS32 = 0x40004, VFT_APP = 0x1).
// VER_* приходят из version.h, который build.rs генерирует из version в Cargo.toml.

#include "version.h"

1 ICON "app.ico"

1 VERSIONINFO
FILEVERSION VER_MAJOR,VER_MINOR,VER_PATCH,0
PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_PATCH,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "ProfessorSovers"
            VALUE "FileDescription", "Battery level of Bluetooth devices in the Windows tray"
            VALUE "FileVersion", VER_STR
            VALUE "InternalName", "BtBatteryTray"
            VALUE "LegalCopyright", "MIT License"
            VALUE "OriginalFilename", "BtBatteryTray.exe"
            VALUE "ProductName", "BtBatteryTray"
            VALUE "ProductVersion", VER_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
